// gitignore for a python project

.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
.env.local
.env.development.local

pycache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*/pycache/*
*/__pycache__/*

.venv/
*.venv/
*.venv/*

